.dog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  gap: 10px;
  padding: 0;
}

.adoptables {
  max-width: 90%;
  font-size: 1.1em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

/* Media query for smaller screens */
  @media (max-width: 1200px) {
    .dog-list-item {
      width: calc(33.333% - 20px); /* 3 items per row */
    }
  }

  @media (max-width: 900px) {
    .dog-list-item {
      width: calc(50% - 20px); /* 2 items per row */
    }
  }

  @media (max-width: 600px) {
    .dog-list-item {
      width: calc(100% - 20px); /* 1 item per row */
    }
  }
