.dog-details {
  min-height: auto;
  background-color: #f5f5f5;
  padding: 10px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 80%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 8px;

  .page-header {

    .header-flex-container { 
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      position: relative;

      .fav-button {
        position: static;
        margin-left: 10px;
      }
    }

    .title-fav-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      margin-left: 100px;
    }

    .apply-button {
      padding: 10px 15px;
      font-size: 1em;
      font-weight: 500;
      background-color: #f0a500;
      color: black;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: transform 0.2s ease;
      width: 100px;
  
      &:hover, &:focus {
        transform: scale(1.05);
        font-weight: 600;
      }
    
      &:focus {
        box-shadow: 0 0 0 2px #f0a40040;
      }
    }
  }

  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .basic-info, .other-details {
      flex: 1;
      min-width: 0;
    }

    .sex-icon {
      font-size: 2.4em;
      color: #f0a500;
    }

    .container {
      flex: 2;
    }

  }

  .dog-photos {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    
    .column {
      padding: 10px;
      flex: 1 1 20%;
      max-width: 20%;
      
      img {
        opacity: 0.8;
        cursor: pointer;
        transition: opacity 0.3s ease;
        width: 100px;
        max-width: 100%;
        object-fit: cover;
        height: 150px;
        border-radius: 10px;
        
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
    
    img {
      display: block;
      width: auto;
      height: 450px;
      object-fit: cover;
      margin-bottom: 20px;
      max-width: 450px;
      border-radius: 10px;
    }
  }

  .description {
    margin: 20px 30px;
    line-height: 1.5;
  }
  
    .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .detail-label {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  .detail-text {
    margin-bottom: 15px;
    margin-top: 0;
  }

  .social-link {
    color: #000;
    font-size: 1em;
    transition: transform 0.2s ease;

    &:hover {
      color: #f0a500;
      transform: scale(1.2);
    }
 }
}

.gauge-container {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  color: #333;
  margin: 10px 0;
  position: relative;
  border-radius: 15px;
}

.gauge {
  height: 30px;
  background-color: #f0a500;
  transition: width 0.3s ease-in-out;
  border-radius: 15px;
}

.gauge-label {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  line-height: 30px;
  font-weight: 450;
}
