.dog-list-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: auto;
  width: calc(33.333% - 70px);
  max-width: 90%;
  border: 1px solid #7e7e7e;
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;

  .dog-link {
    text-decoration: none;
    color: black;
    font-weight: 450;
    font-size: 1.1em;
    margin: 15px 0;
    text-align: center;
    transition: transform 0.2s;

    &:hover {
      color: #f0a500;
      transform: scale(1.2);
      font-weight: 500;
    }
  }

  .dog-image-container {
    width: 100%;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
  
    .dog-image {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      max-height: 350px;
      min-height: 340px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
      margin: 0 15px 5px 15px;
    }
  }
}