.page-title {
  text-align: center;
  font-size: 2.4em;
  margin: 20px 0;
  font-family: "Ink Free", cursive;
}

.lower-nav-link {
  margin-top: 15px;
  text-decoration: none;
  font-style: italic;
  color: black;
  font-size: 1em;
  min-height: 25px;
  font-weight: 500;
  transition: transform 0.2s;

  &:hover {
    color: #f0a500;
    transform: scale(1.1);
  }
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}